In [14]:
import numpy as np
#!pip install pandas==0.23.4
import pandas as pd
#pd.__version__
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [15]:
# load dataset tom pandas dataframe
credit_card_data=pd.read_csv('/content/creditcard.csv')

In [16]:
credit_card_data.head()

   Time        V1        V2        V3  ...         V27       V28  Amount  Class
0     0 -1.359807 -0.072781  2.536347  ...    0.133558 -0.021053  149.62    0.0
1     0  1.191857  0.266151  0.166480  ...   -0.008983  0.014724    2.69    0.0
2     1 -1.358354 -1.340163  1.773209  ...   -0.055353 -0.059752  378.66    0.0
3     1 -0.966272 -0.185226  1.792993  ...    0.062723  0.061458  123.50    0.0
4     2 -1.158233  0.877737  1.548718  ...    0.219422  0.215153   69.99    0.0

[5 rows x 31 columns]

In [17]:
credit_card_data.tail()

         Time        V1        V2  ...         V28  Amount  Class
120896  75998  1.501845 -1.193147  ...    0.001626   30.00    0.0
120897  75999 -0.340455  1.201756  ...    0.100380    3.67    0.0
120898  75999 -1.089161  0.115364  ...    0.143270  130.80    0.0
120899  76000  0.213729  0.623136  ...    0.088634    1.29    0.0
120900  76001 -0.367988  1.108999  ...         NaN     NaN    NaN

[5 rows x 31 columns]

In [18]:
#dataset information
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120901 entries, 0 to 120900
Data columns (total 31 columns):
Time      120901 non-null int64
V1        120901 non-null float64
V2        120901 non-null float64
V3        120901 non-null float64
V4        120901 non-null float64
V5        120901 non-null float64
V6        120901 non-null float64
V7        120901 non-null float64
V8        120901 non-null float64
V9        120901 non-null float64
V10       120901 non-null float64
V11       120901 non-null float64
V12       120901 non-null float64
V13       120901 non-null float64
V14       120901 non-null float64
V15       120901 non-null float64
V16       120901 non-null float64
V17       120901 non-null float64
V18       120901 non-null float64
V19       120901 non-null float64
V20       120901 non-null float64
V21       120901 non-null float64
V22       120901 non-null float64
V23       120901 non-null float64
V24       120901 non-null float64
V25       120900 non-null float64
V26       120900 non-null float64
V27       120900 non-null float64
V28       120900 non-null float64
Amount    120900 non-null float64
Class     120900 non-null float64
dtypes: float64(30), int64(1)
memory usage: 28.6 MB

In [19]:
#checking number of missing values in dataframes
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       1
V26       1
V27       1
V28       1
Amount    1
Class     1
dtype: int64

In [7]:
#distribution of legit and fraud transaction
credit_card_data['Class'].value_counts()

0.0    7947
1.0      25
Name: Class, dtype: int64

In [8]:
#this dataset is highly unbalanced
#0  for normal transaction
#1 for fraud transaction

In [4]:
#seprating data for analysis
legit=credit_card_data[credit_card_data.Class==0]
fraud=credit_card_data[credit_card_data.Class==1]
print(legit.shape)
print(fraud.shape)

(25749, 31)
(88, 31)

In [ ]:
# statistical measure of data
legit.Amount.describe()

In [ ]:
fraud.Amount.describe()

In [ ]:
#compare the values for both transaction
credit_card_data.groupby('Class').mean()

In [ ]:
#for imbalance data here using under sampling
# builing a sample dataset containing similar distribution of legit and fraud transition
# Number of legit transtion = 82

In [5]:
legit_sample=legit.sample(n=82)
legit_sample.shape

(82, 31)

concanate two data frames means add 52 fraud  datasample below the legit sample in row wise

In [6]:
new_dataset=pd.concat([legit_sample,fraud],axis=0)

In [ ]:
print(new_dataset.shape)

In [ ]:
new_dataset['Class'].value_counts()

In [ ]:
new_dataset.groupby('Class').mean()

splitting data into features and targets

In [7]:
x=new_dataset.drop(columns='Class',axis=1)
y=new_dataset['Class']
print(y)

8326     0.0
3581     0.0
23474    0.0
21723    0.0
18165    0.0
3892     0.0
3943     0.0
8741     0.0
6085     0.0
14846    0.0
1718     0.0
9044     0.0
17732    0.0
2490     0.0
21124    0.0
16436    0.0
4361     0.0
14677    0.0
10462    0.0
25802    0.0
15202    0.0
24146    0.0
7032     0.0
14565    0.0
18811    0.0
2352     0.0
15282    0.0
6018     0.0
2844     0.0
20119    0.0
        ...
14197    1.0
14211    1.0
14338    1.0
15166    1.0
15204    1.0
15225    1.0
15451    1.0
15476    1.0
15506    1.0
15539    1.0
15566    1.0
15736    1.0
15751    1.0
15781    1.0
15810    1.0
16415    1.0
16780    1.0
16863    1.0
17317    1.0
17366    1.0
17407    1.0
17453    1.0
17480    1.0
18466    1.0
18472    1.0
18773    1.0
18809    1.0
20198    1.0
23308    1.0
23422    1.0
Name: Class, Length: 170, dtype: float64

In [8]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.20,stratify=y,random_state=2)
print(x.shape,x_train.shape,x_test.shape)

(170, 30) (136, 30) (34, 30)

model training  logistic regression

In [9]:
model=LogisticRegression()

train the logistic model with training data

In [10]:
model.fit(x_train,y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

model evaluation and accuracy score

```
# This is formatted as code
```

In [11]:
x_train_prediction=model.predict(x_train)
print(x_train_prediction)
training_data_accuracy=accuracy_score(x_train_prediction,y_train)

[1. 0. 0. 1. 0. 1. 0. 0. 1. 1. 0. 1. 0. 0. 1. 1. 1. 1. 0. 1. 0. 0. 0. 1.
 0. 1. 1. 0. 1. 0. 1. 0. 0. 1. 0. 1. 1. 0. 1. 1. 0. 0. 0. 0. 0. 0. 1. 1.
 1. 0. 0. 1. 1. 1. 1. 0. 1. 0. 1. 1. 1. 1. 0. 0. 1. 0. 1. 0. 1. 0. 1. 0.
 0. 0. 0. 0. 1. 0. 0. 0. 1. 0. 0. 1. 1. 0. 0. 1. 1. 1. 0. 1. 1. 0. 0. 1.
 1. 0. 1. 0. 1. 0. 1. 1. 1. 0. 0. 0. 1. 1. 1. 0. 0. 1. 0. 1. 1. 0. 1. 0.
 0. 0. 1. 1. 0. 1. 0. 0. 1. 1. 0. 1. 0. 0. 1. 1.]

In [13]:
print(training_data_accuracy)

0.9705882352941176

accuracy on test data

In [12]:
x_test_prediction=model.predict(x_test)
test_data_accuracy=accuracy_score(x_test_prediction,y_test)
print(test_data_accuracy)

0.9411764705882353