In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import logistic_regression_path
from sklearn.metrics import accuracy_score

In [3]:
# load dataset tom pandas dataframe
credit_card_data=pd.read_csv('/content/creditcard.csv')

In [4]:
credit_card_data.head()

   Time        V1        V2        V3  ...       V27       V28  Amount  Class
0     0 -1.359807 -0.072781  2.536347  ...  0.133558 -0.021053  149.62    0.0
1     0  1.191857  0.266151  0.166480  ... -0.008983  0.014724    2.69    0.0
2     1 -1.358354 -1.340163  1.773209  ... -0.055353 -0.059752  378.66    0.0
3     1 -0.966272 -0.185226  1.792993  ...  0.062723  0.061458  123.50    0.0
4     2 -1.158233  0.877737  1.548718  ...  0.219422  0.215153   69.99    0.0

[5 rows x 31 columns]

In [ ]:
credit_card_data.tail()

In [ ]:
#dataset information
credit_card_data.info()

In [ ]:
#checking number of missing values in dataframes
credit_card_data.isnull().sum()

In [5]:
#distribution of legit and fraud transaction
credit_card_data['Class'].value_counts()

0.0    11906
1.0       52
Name: Class, dtype: int64

In [ ]:
#this dataset is highly unbalanced
#0  for normal transaction
#1 for fraud transaction

In [38]:
#seprating data for analysis
legit=credit_card_data[credit_card_data.Class==0]
fraud=credit_card_data[credit_card_data.Class==1]
print(legit.shape)
print(fraud.shape)

(11906, 31)
(52, 31)

In [39]:
# statistical measure of data
legit.Amount.describe()

count    11906.000000
mean        62.198127
std        177.379105
min          0.000000
25%          5.292500
50%         15.950000
75%         50.000000
max       7712.430000
Name: Amount, dtype: float64

In [40]:
fraud.Amount.describe()

count      52.000000
mean       97.724808
std       321.188775
min         0.000000
25%         1.000000
50%         1.000000
75%         1.772500
max      1809.680000
Name: Amount, dtype: float64

In [41]:
#compare the values for both transaction
credit_card_data.groupby('Class').mean()

               Time        V1        V2  ...       V27       V28     Amount
Class                                    ...
0.0     7993.389048 -0.200839  0.259753  ...  0.005330  0.000012  62.198127
1.0    11569.615385 -3.769104  4.258027  ...  0.692927  0.059751  97.724808

[2 rows x 30 columns]

In [34]:
#for imbalance data here using under sampling
# builing a sample dataset containing similar distribution of legit and fraud transition
# Number of legit transtion = 52

In [48]:
legit_sample=legit.sample(n=52)

concanate two data frames means add 52 fraud  datasample below the legit sample in row wise

In [49]:
new_dataset=pd.concat([legit_sample,fraud],axis=0)

In [50]:
new_dataset.head()

      Time        V1        V2        V3  ...       V27       V28  Amount  Class
449    327  1.162687  0.269139  0.163258  ...  0.009356  0.014457   36.71    0.0
989    747  1.149141  0.124643  0.380289  ...  0.033139  0.015666   16.18    0.0
3268  2818 -0.230174 -0.359055  1.616708  ... -0.043797 -0.078710    3.79    0.0
1734  1345 -0.804225  1.317543  1.328776  ...  0.142405  0.051428    1.04    0.0
2027  1573 -2.258102  1.306719  1.390339  ...  0.296021 -0.095126   18.78    0.0

[5 rows x 31 columns]

In [52]:
new_dataset['Class'].value_counts()

1.0    52
0.0    52
Name: Class, dtype: int64

In [54]:
new_dataset.groupby('Class').mean()

               Time        V1        V2  ...       V27       V28      Amount
Class                                    ...
0.0     8500.230769 -0.102266  0.123687  ... -0.018403 -0.006121  123.178269
1.0    11569.615385 -3.769104  4.258027  ...  0.692927  0.059751   97.724808

[2 rows x 30 columns]